/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
<<<<<<< HEAD
 */

.success {
	padding:       0.8em;
	margin-bottom: 1em;
	border:        2px solid #ddd;
	background:    #e6efc2;
	color:         #264409;
	border-color:  #c6d880;
}

.success a {
	color:         #264409;
}

.success p {
	margin:         0;
}

.wp-rtr-extended-light {
	color:          #777;
	font-size:      12px;
	margin-left:     1em;
}
.noUnderline {
	text-decoration: none;
}

#rtr-extended-settings .form-table th {
	width: 230px;
}
=======
 */
>>>>>>> 3ad3ff69bd1b7de3ef0abd2c03825f0a5ca83b60
